.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 0;
  background-color: white;
  border-bottom: 1px solid #3f3f3f;
  z-index: 10;
  text-align: center;
}

.block {
  display: inline-block;
  margin: 4px 20px;
  text-align: left;
}
